input {
    width: 500px;
    height:30px;
    border-radius: 3px;
}

.input-group {
    margin-top: 15px;
}

.input-group-text {
    font-size: 1.5em;
    margin-top: 15px;
}

.register-button {
    margin-top: 30px;
    padding: 5px;
    font-size: 1.2em;
}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

    input {
        width: 80%;
        height:30px;
        margin: auto;
        border-radius: 3px;
    }

    .input-group-text {
        font-size: 1em;
        margin-top: 10px
    }
}