.register {
    height: 100vh;
    width: 100vw;
    position: relative;

    .registration-container {
        width: 25%;
        position: absolute;
        border-radius: 5px;
        right: 10%;
        top: 15%;
        padding: 40px;


        h1 {
            font-size: 4em;
            margin-top: 0;
        }

    }
}