.home-container {
    position: relative;
    display: inline;

    .home-page {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: inline-flex;

        .welcome-message {
            width: 50%;
            position: absolute;
            right: 0;
            padding-top: 25vh;
            padding-right: 60px;

            h1, h2{
                font-size: 4em;
                margin: 0;
            }


            .get-started-btn {
                border: none;
                font-size: 2em;
                border-radius: 5px;
                background-color: aqua;
                padding: 3px;
            }
        }
    }

    .what-we-do {
        height: 100vh;
        width: 100vw;
        
        .message {
            width: 45%;
            position: absolute;
            height: 100vh;
            left: 0;
            padding-top: 10vh;
            padding-left: 60px;

            h1, h2{
                font-size: 3.5em;
                margin: 0;
            }
            
            p {
                width: 90%
            }
        }

        .steps {
            width: 45%;
            position: absolute;
            right: 0;
            padding-top: 10vh;
            text-align: center;
            padding-right: 50px;

            h1 {
                font-size: 3.5em;
                margin: 0;
            }

            .step-list {
                list-style: none;
                padding: 0;

                li {
                    border-radius: 4px;
                    width: 80%;
                    margin: 10px auto;
                    padding: 5px;
                    z-index: 1000;
                    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
                    
                    h2 {
                        font-size: 1em;
                        font-weight: bold;
                    }

                    p {
                        font-size: .75em;
                    }
                }
            }

        }
    }

    .testimonials {
        height: 100vh;
        width: 100vw;
        padding-top: 80px;
        text-align: center;

        h1 {
            margin: 0;
            font-size: 2em;
            margin-bottom: 30px;
        }

        .card-container {
            display: flex;
            align-content: space-between;
            width: 80%;
            margin: auto;
        }

        .details {
            width: 80%;
            margin: auto;
            text-align: left;

            p {
                font-size: .8em;
            }
        }
    }

    .about {
        padding-top: 50px;
        height: 70vh;
        width: 100vw;
        text-align: center;
        position: relative;

        h1 {
            font-size: 2em;
        }

        p {
            width: 50%;
            padding: 10px;
            padding-left: 50px;
        }

        .image {
            border: 1px solid black;
            width: 30%;
            height: 40%;
            position: absolute;
            right: 70px;
            top: 150px;
        }
    }
}