.card {
    height: 450px;
    width: 250px;
    border: solid 1px black;
    margin: auto;


@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {

        height: 170px;
        width: 100%;
        margin-bottom: 20px;
    }
}